{% extends 'catalog/base.html' %}
{% block content %}
<div class="container">
    <form class="row justify-content-center" method="post" enctype="multipart/form-data">
        <div class="col-md-6">
            <div class="card border-success mb-3">
                <div class="card-header bg-success text-white">
                    <h3 class="mb-0">Вход</h3>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">
                        Войти
                    </button>
                    <a href="{% url 'users:new_password' %}" class="btn btn-link">
                        Забыли пароль?
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block product_actions %}
{% endblock %}