{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <a class="p-2 btn btn-outline-primary" href="{% url 'articles:create' %}">Создать статью</a>
        <div class="pb-4"></div>
        {% for object in object_list %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="{{ object.photo| media_filter }}">
                    <p class="text-start">{{ object.description | slice:100 }}</p>
                    <h1 class="card-title pricing-card-title"></h1>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-secondary" href="{% url 'articles:view' object.id %}"
                               role="button">Подробно</a>
                            <a class="btn btn-sm btn-outline-secondary" href="{% url 'articles:edit' object.id %}"
                               role="button">Изменить</a>
                            <a class="btn btn-sm btn-outline-danger" href="{% url 'articles:delete' object.id %}"
                               role="button">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}