{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <form class="row justify-content-center" method="post" enctype="multipart/form-data">
        <div class="col-md-6">
            <div class="card border-warning mb-0">
                <div class="card-header bg-warning text-black">
                    <h3 class="mb-3">Регистрация</h3>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div class="card-footer">
                    {% if request.resolver_match.url_name == 'register' %}
                    <button type="submit" class="btn btn-warning">Зарегистрироваться</button>
                    <a href="{% url 'users:login' %}" class="btn btn-secondary">Назад </a>
                    {% else %}
                    <button type="submit" class="btn btn-warning">Редактировать</button>
                    <a href="{% url 'users:profile' %}" class="btn btn-primary">Назад</a>
                    {% endif %}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block product_actions %}
{% endblock %}